<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>









          <div id="content">

            {{#each fruitArray}}



            <div class="dragAble" data-r={{fruitLetter}} data-q="0">
              <p><img src={{image}} alt=""class="imagesize"></p>
            </div>
            {{!-- <div class="dragAble" data-r="b" data-q="0">
              <p>Lion</p>
            </div>
            <div class="dragAble" data-r="c" data-q="0">
              <p>Two</p>
            </div>
            <div class="dragAble" data-r="d" data-q="0">
              <p>Horse</p>
            </div>
            <div class="dragAble" data-r="e" data-q="0">
              <p>Yellow</p>
            </div>
            <div class="dragAble" data-r="f" data-q="0">
              <p>Four</p>
            </div>
            <div class="dragAble" data-r="g" data-q="0">
              <p>Green</p>
            </div> --}}






          


            {{/each}}

          </div>
         <br>

          <div class="dropAble" data-q="1">
             {{!-- put cup image here --}}
          </div>

        </div>

        {{!-- <strong>Create your own</strong>: {{example.id}}</p>
        <p>
          <p>
            <strong>Pick 3 ingredients to create your own uniqe smothii smoothie</strong>: {{example.text}}</p>
          <p>
            <div id="cup">
              I am a cup
            </div>



            <strong>Description:</strong> {{example.description}}
          </p>




          <a href="/">← Back To Home</a> --}}
      </div>
    </div>
  </div>
</div>
<script>
  function allowDrop(e) {
    e.preventDefault();
  };

  function drag(e) {
    e.dataTransfer.setData("text", e.target.id);
    console.log(e.target.id)
  };

  function drop(e) {
    e.preventDefault();
    var data = e.dataTransfer.getData("text");
    e.target.appendChild(document.getElementById(data));
    // this line will eliminate drag the fruits back:
    //document.getElementById(data).setAttribute('draggable', 'false');
  };
</script>